#
# Base top obj
#

dn: {{ openldap_mdb_suffix }}
objectClass: top
objectClass: dcObject
objectClass: domain

dn: ou=People,{{ openldap_mdb_suffix }}
objectClass: top
objectClass: organizationalUnit
ou: People

dn: ou=OSGroups,{{ openldap_mdb_suffix }}
objectClass: top
objectclass: organizationalUnit
ou: OSGroups


#
# User
#

dn: cn=ta1,ou=People,{{ openldap_mdb_suffix }}
objectClass: person
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
objectClass: ldapPublicKey
sn: ta1
uid: ta1
uidNumber: 10001
gidNumber: 10000
homeDirectory: /tmp/
sshPublicKey: {{ ldap_default_sshPublicKey }}
userPassword: {{ openldap_admin_sha.stdout }}
loginShell: /bin/bash

dn: cn=ta2,ou=People,{{ openldap_mdb_suffix }}
objectClass: person
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
objectClass: ldapPublicKey
sn: ta2
uid: ta2
uidNumber: 10002
gidNumber: 10000
homeDirectory: /tmp/
sshPublicKey: {{ ldap_default_sshPublicKey }}
userPassword: {{ openldap_admin_sha.stdout }}
loginShell: /bin/bash


dn: cn=stu1,ou=People,{{ openldap_mdb_suffix }}
objectClass: person
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
objectClass: ldapPublicKey
sn: stu1
uid: stu1
uidNumber: 20001
gidNumber: 20000
homeDirectory: /home/stu1
sshPublicKey: {{ ldap_default_sshPublicKey }}
userPassword: {{ openldap_admin_sha.stdout }}
loginShell: /bin/bash

dn: cn=stu2,ou=People,{{ openldap_mdb_suffix }}
objectClass: person
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
objectClass: ldapPublicKey
sn: stu2
uid: stu2
uidNumber: 20002
gidNumber: 20000
homeDirectory: /home/stu2
sshPublicKey: {{ ldap_default_sshPublicKey }}
userPassword: {{ openldap_admin_sha.stdout }}
loginShell: /bin/bash


#
# OSGroups
#

dn: cn=Admin,ou=OSGroups,{{ openldap_mdb_suffix }}
cn: Admin
objectClass: posixGroup
gidNumber: 10000

dn: cn=Worker,ou=OSGroups,{{ openldap_mdb_suffix }}
cn: Worker
objectClass: posixGroup
gidNumber: 20000
